local_saved_frames/*
!local_saved_frames/.gitkeep

local_images/*
!local_images/.gitkeep
local_videos/*
!local_videos/.gitkeep

data/images/*
!data/images/.gitkeep
data/labels/*
!data/labels/.gitkeep

untrained_yolo_models/*
!untrained_yolo_models/.gitkeep

trained_yolo_models/*
!trained_yolo_models/.gitkeep

training_results/*

local_test_results/*
!local_test_results/.gitkeep

*yolov8n.pt
*labels.cache